@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
} 

html {
  scroll-snap-type: y proximity;
}

nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  overflow-y: hidden;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  overflow-y: hidden;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  overflow-y: hidden;
}
nav ul li{
  margin: 0 5px;
  overflow-y: hidden;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  overflow-y: hidden;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
  overflow-y: hidden;
  z-index: 999;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
  overflow-y: hidden;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content {
  display: flex;
  height: 90vh;
  text-align: center;
  z-index: -1;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url(chinatown.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(17, 15, 13, 0.678);
  background-blend-mode: multiply;
  transition: ease-in 3s;
}

.content h1{
    position: fixed;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

.white {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white h1 {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  z-index: 999;
}

.slide {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 700vw;
}

.one h1{
  font-weight: 500;
  color: #fff;
  font-size: 20px;
}
.one {
  text-align: center;
  padding: 50px;
  background-image: url(sky.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.two {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 50px;
}

.two h1 {
  padding-top: 100px;
  font-size: 50px;
}

.three {
  background: #047a1e;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 50px;
}

.three h1 {
  color: #fff;
  font-size: 45px;
  line-height: 2;
}

.three2 {
  text-align: center;
  background: #16aaaa;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 50px;
}

.three2 h1 {
  color: #fff;
  font-size: 30px;
}

.four {
  text-align: center;
  background: #134242;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 50px;
}

.four h1 {
  font-size: 45px;
  color: #fff;
}

.five {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 50px;
}

.five h1 {
  font-size: 50px;
}

.six {
    background-image: url(lighthouseImg.png);
    text-align: center;
    padding: 50px;
    padding-top: 250px;
}

.six h1 {
  font-weight: 700;
  padding-top: 20px;
  font-size: 40px;
  color: #fff;
}

.seven {
  background-color: rgb(192, 111, 5);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 50px;
}

.seven h1 {
  font-weight: 700;
  padding-top: 20px;
  font-size: 40px;
  color: #fff;
  line-height: 3;
}


.wrapper {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    scroll-snap-align: start;
  }
  .outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scroll-snap-align: start;
  }

  .outer-wrapper {
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    .outer-wrapper::-webkit-scrollbar {
      display:none;
    }


    .backToTop{
      position: fixed;
      bottom: 400px;
      right: 40px;
      height: 60px;
      width: 60px;
      background:rgb(214, 214, 214) url(up-arrow.png);
      border-radius: 5px;
      background-size: 40px;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      z-index: 100000;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s;
    }
  
    .backToTop.active{
      bottom: 40px;
      visibility: visible;
      opacity: 1;
    }

    @keyframes MoveUpDown {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
    }
